<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975234658221-2249eursu0p4kotnv6ohr9vqt1jstg0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975234658221-2249eursu0p4kotnv6ohr9vqt1jstg0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>975234658221-7bo9mqm0ijvlhqvbaork0jud9b25pk60.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATISb6FO7c4iEuSEaLPxNxSGsEFvZKv_s</string>
	<key>GCM_SENDER_ID</key>
	<string>975234658221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zctechs.churrasapp</string>
	<key>PROJECT_ID</key>
	<string>churras-app-homolog</string>
	<key>STORAGE_BUCKET</key>
	<string>churras-app-homolog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975234658221:ios:2ccc84506bf531c8937b24</string>
</dict>
</plist>